/* ##### */
/* ELEMENTS */
/* ##### */

* {
    box-sizing: border-box;
}

body {
    background-color: #B40001;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

/* ##### */
/* IDS */
/* ##### */

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    position: relative;
    padding-bottom: 20px;
}

#chatlog {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 10px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#formBox {
}

#msgForm {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#msgInput {
    width: 100%;
    padding-left: 20px;
}

/* ##### */
/* CLASSES */
/* ##### */

.msg {
    width: fit-content;
    padding: 10px 30px;
    margin: 15px 40px;
    /* display: flex; */
    position: relative;
}

.myMsg {
    background-color: white;
    color: black;
    align-self: flex-end;
}

.otherMsg {
    background-color: black;
    color: white;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 5px solid white;
}

.otherAvatar {
    position: absolute;
    left: -25%;
}

.avatarModal {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 400px;
    position: absolute;
    bottom: 110%;
    margin: auto;
    overflow-y: scroll;
}

.hidden {
    display: none;
}


/* 
.avatarModal {
    display: none;
    grid-template-columns: repeat(3, auto);   
    grid-template-rows: repeat(auto, 50px); 
    position: absolute;
    z-index: 500;
    width: 500px;
    height: 500px;
    background-color: black;
    overflow-y: scroll;
}

.avatarModal p {
    color: white;
}

.message-box {
    position: relative;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0F1C13;
    width: fit-content;
    max-width: 500px;
    word-wrap: normal;
    word-break: keep-all;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    transform: skew(-35deg) translate(50%) perspective(100px);
    transform: perspective(500px) translate3d(50px, 0, 10px) rotateY(330deg) skew(-35deg);
    color: white;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
}

.message-box p {
    color: white;
    position: relative;
    padding-left: 60px;
    word-wrap: normal;
    word-break: keep-all;
    transform: none;
}

.message-box .background {
    background-color: #0F1C13;
    width: 100%;
    height: 100%;
    max-width: 300px;
    transform: translateX(50px) skew(-35deg);
    position: absolute;
}

.inputForm {
    position: fixed;
    bottom: 50px;
    display: flex;
}

.chatlog {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    max-height: 300px;
    scroll-behavior: auto;

    scrollbar-color: black;
}

.chatlog::-webkit-scrollbar {
    color: black;
    background-color: black;
    background: black;
} */
